.jumbotron {
  background-color: #283747;
  color: #f1ecec;
  padding: 0, 5px, 0, 5px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: thanksU; }

.edit {
  width: 100px;
  height: 100px; }

.dropdown:hover > .dropdown-menu {
  display: grid; }

.dropdown > .dropdown-toggle:active {
  pointer-events: none; }

.font {
  font-family: Georgia, 'Times New Roman', Times, serif; }

nav form {
  padding: 0 10%; }

.marginl-cont {
  margin-left: 100px; }

.card-edit {
  max-width: 300px; }

.card-shop {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-acard {
  width: 100%;
  border-radius: 0px; }

.ctn-foot {
  background-color: #283747;
  color: #f1ecec; }

.ctn-copy {
  background-color: #768596;
  color: #f1ecec; }

.form-align {
  padding: 20px 0 20px 0; }

.footer-icon {
  padding-right: 10px; }
