@grey: #283747 ;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: #283747;
    color: rgb(241, 236, 236);
    padding: 0, 5px, 0, 5px;
    .margenes(50px, 0px);
    font-family: thanksU;
}

.edit {
    width: 100px;
    height: 100px;
}

.dropdown:hover>.dropdown-menu {
    display: grid;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.font {
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav form {
    padding: 0 10%;
}

.marginl-cont {
    margin-left: 100px;
}

.card-edit {
    max-width: 300px;
}

.card-shop {
    flex: 1 300px;
    .margenes(10px, 0px);
}

.btn-acard {
    width: 100%;
    border-radius: 0px;
}

.ctn-foot {
    background-color: #283747;
    color: rgb(241, 236, 236);
}

.ctn-copy {
    background-color: #768596;
    color: rgb(241, 236, 236);
}

.form-align {
    padding: 20px 0 20px 0;
}

.footer-icon {
    padding-right: 10px;
}